@use 'src/styles' as styles;

.container {
  @include styles.default-container;
  max-width: 370px;

  form {
    display: flex;
    flex-direction: column;
    background: #ffff;
    padding: 20px;
    @include styles.shadow-border;

    .submit {
      margin-top: 16px;
    }

    .limpiar-formulario {
      margin-top: 16px;
    }
  }

  .codigo-control {
    background: #ffff;
    padding: 10px;
    border-radius: 5px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    @include styles.shadow-border;
  }
}
