@use 'src/styles.scss' as styles;
.container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    @include styles.shadow-border;

    .buttons {
      .button {
        margin-right: 8px;
      }
    }
  }
}
