<div class="container">

  <div class="actions">
    <button
      class="filtrar"
      mat-raised-button
      color="primary"
      (click)="showFiltros = !showFiltros">
      Filtrar
    </button>

    <a routerLink="nuevo-pedido" mat-raised-button color="primary">
      Nuevo pedido
    </a>
  </div>

  <div class="filtros" [hidden]="!showFiltros">
    <p class="title">Filtrar por estado</p>
    <mat-radio-group [(ngModel)]="estado" (change)="obtenerPedidos()">
      <ul class="lista-filtros">
        <li *ngFor="let filtro of filtroEstados">
          <mat-radio-button [value]="filtro">
            {{ filtro | titlecase }}
          </mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="">
            Ninguno
          </mat-radio-button>
        </li>
      </ul>
    </mat-radio-group>
  </div>

  <app-calendar
    class="calendar"
    [eventsCB]="pedidosCB"
    (eventTimesChanged)="eventTimesChanged($event)"
    (eventClicked)="eventClicked($event)"
    (dayClicked)="dayClicked($event)">
  </app-calendar>

</div>
