@use 'src/styles/styles' as styles;

.container {
  @include styles.default-container;
  max-width: 1000px;

  .actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 17.5px;

    .filtrar {
      margin-right: 10px;
    }
  }

  .filtros {
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e0e0e0;

    .title {
      font-weight: bold;
      font-size: 16px;
    }

    .lista-filtros {
      list-style-type: none;
    }
  }
}
