.container {
  display: flex;
  flex-direction: column;
  margin: 40px 20px;

  .pedido {
    background: #ffff;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .cliente {
      display: flex;
      flex-direction: column;
    }

    .factura {
      display: flex;
      flex-direction: column;
    }
  }
}
