.container {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;

  .actions {
    margin-bottom: 17.5px;
    text-align: right;
  }

  .buscador {
    margin-bottom: 17.5px;
  }
}
