<div class="container" *ngIf="usuario$ | async as usuario">

  <form [formGroup]="usuarioForm" (ngSubmit)="actualizarUsuario(usuario.id)">

    <h1>Modificar usuario</h1>

    <img [src]="usuario.fotoPerfil | images: 'usuario'" alt="foto de perfil">

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
      <mat-error *ngIf="nombre.invalid">El nombre es requerido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido">
      <mat-error *ngIf="apellido.invalid">El apellido es requerido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>NIT/CI</mat-label>
      <input matInput formControlName="nitCI">
      <mat-error *ngIf="nitCI.invalid">El NIT/CI es requerido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Teléfono móvil</mat-label>
      <input matInput formControlName="telefonoMovil">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Teléfono fijo</mat-label>
      <input matInput formControlName="telefonoFijo">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Domicilio</mat-label>
      <input matInput formControlName="direccionDomicilio">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Correo electrónico</mat-label>
      <input matInput formControlName="correoElectronico">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cuenta verificada</mat-label>
      <mat-select formControlName="cuentaVerificada">
        <mat-option [value]="true">Si</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Es empleado</mat-label>
      <mat-select formControlName="esEmpleado">
        <mat-option [value]="true">Si</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado">
        <mat-option [value]="true">Activo</mat-option>
        <mat-option [value]="false">No activo</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="buttons">
      <a mat-stroked-button type="button" class="button" routerLink="/usuarios">
        Volver
      </a>

      <button
        mat-stroked-button
        [color]="usuarioForm.valid ? 'primary' : 'warn'"
        type="submit">
        Guardar cambios
      </button>

    </div>

  </form>

</div>
