@use 'src/styles' as styles;

.container {
  @include styles.default-container;
  max-width: 450px;

  form {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    @include styles.shadow-border;

    img {
      width: 200px;
      padding-bottom: 50px;
      align-self: center;
    }

    .buttons {
      text-align: left;

      .button {
        margin-right: 8px;
      }
    }
  }
}
