<div class="container">

  <form class="buscador" [formGroup]="buscadorForm">
    <mat-form-field class="mat-input-white" appearance="outline">

      <mat-label>Buscador</mat-label>

      <input
        type="text"
        matInput formControlName="termino"
        placeholder="Nombre del menú">

      <button
        mat-icon-button
        matSuffix
        *ngIf="termino.value"
        (click)="limpiarBusqueda()"
        type="button"
        matTooltip="Limpiar búsqueda">
        <mat-icon>clear</mat-icon>
      </button>

    </mat-form-field>
  </form>

  <div class="table-container">

    <div class="table-overflow">
      <table mat-table [dataSource]="clientes$ | async">

        <!-- Posicion -->
        <ng-container matColumnDef="posicion">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let i = index">
            {{ (i + 1) + pageIndex * pageSize }}
          </td>
        </ng-container>

        <!-- Nombre -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let cliente">{{ cliente.nombre }}</td>
        </ng-container>

        <!-- Apellido -->
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef>Apellido</th>
          <td mat-cell *matCellDef="let cliente">{{ cliente.apellido }}</td>
        </ng-container>

        <!-- nitCI -->
        <ng-container matColumnDef="nitCI">
          <th mat-header-cell *matHeaderCellDef>NIT/CI</th>
          <td mat-cell *matCellDef="let cliente">{{ cliente.nitCI }}</td>
        </ng-container>

        <!-- Modificar -->
        <ng-container matColumnDef="modificar">
          <th mat-header-cell *matHeaderCellDef>Modificar</th>
          <td class="icon" mat-cell *matCellDef="let cliente">
            <a [routerLink]="cliente.id" mat-mini-fab color="accent">
              <mat-icon>edit</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div> <!--end table-overflow-->

    <mat-paginator
      #paginator
      [length]="totalClientes"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="updateTable($event)"
      showFirstLastButtons>
    </mat-paginator>

  </div> <!--end table-container-->

</div>
