<div class="container" *ngIf="usuario$ | async as usuario">

  <h2>Usuario: {{ usuario.nombres }} {{ usuario.apellidos }}</h2>

  <p class="title">Roles asignados</p>

  <mat-list>

    <ng-container *ngIf="usuario.rolesUsuarios.length > 0; else sinRol">
      <mat-list-item *ngFor="let rolUsuario of usuario.rolesUsuarios">
        <h3 matLine>{{ rolUsuario.rol.nombre }}</h3>
        <button
          class="eliminar-rol"
          mat-icon-button
          color="warn"
          (click)="borrarRolUsuario(rolUsuario.rol.id, usuario.id)"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-list-item>
    </ng-container>

    <ng-template #sinRol>
      <mat-list-item>
        No tiene ningún rol asignado
      </mat-list-item>
    </ng-template>

  </mat-list>

  <div class="form">
    <p class="title">Roles disponibles</p>
    <p
      class="mensaje"
      *ngIf="mensaje"
    >
      {{ mensaje }}
    </p>
    <form class="example-form" (ngSubmit)="asignarRol(usuario.id)">
      <mat-form-field class="example-full-width">
        <input
          type="text"
          placeholder="Rol"
          aria-label="Number"
          matInput
          [formControl]="rolSeleccionado"
          [matAutocomplete]="auto"
        >
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let rol of roles$ | async" [value]="rol">
            {{ rol.nombre }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
      >
        Asignar
      </button>
      <a
        class="volver"
        mat-button
        routerLink="/usuarios"
      >
        Volver
      </a>
    </form>
  </div>

</div>
