<div class="container">
  <form
    [formGroup]="sucursalForm"
    class="form"
    (ngSubmit)="sucursal ? actualizarSucursal() : crearSucursal()"
  >
    <h1>Sucursal</h1>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="nombre" />
      <mat-error *ngIf="nombre.errors?.required">
        El nombre es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dirección</mat-label>
      <input matInput type="text" formControlName="direccion" />
      <mat-error *ngIf="direccion.errors?.required">
        La dirección es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ubicación</mat-label>
      <input matInput type="text" formControlName="ubicacion" />
      <mat-error *ngIf="ubicacion.errors?.required">
        La ubicación es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Número teléfono</mat-label>
      <input matInput type="text" formControlName="numeroTelefono" />
      <mat-error *ngIf="numeroTelefono.errors?.required">
        El número de teléfono es requerido
      </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="estado">
      Estado
    </mat-checkbox>

    <div class="form__actions">
      <a mat-stroked-button routerLink="../">
        Regresar
      </a>

      <a mat-stroked-button routerLink="../nueva-sucursal">
        Nueva sucursal
      </a>
      <button
        type="submit"
        mat-stroked-button
        [color]="
          sucursalForm.untouched
            ? 'primary'
            : sucursalForm.valid
            ? 'primary'
            : 'warn'
        "
      >
        {{ sucursal ? "Actualizar sucursal" : "Registrar sucursal" }}
      </button>
    </div>
  </form>
</div>
