@use 'src/styles' as styles;

.container {
  @include styles.default-container;
  max-width: 800px;

  .inner-content {
    display: grid;
    grid-template-areas: 'foto-perfil' 'informacion-usuario';
    background: #ffffff;
    padding: 20px;
    @include styles.shadow-border;

    @media only screen and (min-width: 650px) {
      grid-template-areas: 'foto-perfil informacion-usuario';
    }

    .foto-perfil-container {
      grid-area: foto-perfil;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;

      .responsive-img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
      }
    }

    .informacion-usuario {
      grid-area: informacion-usuario;
      display: flex;
      flex-direction: column;

      form {
        display: flex;
        flex-direction: column;
      }

      .actualizar-datos-btn {
        text-align: center;
      }

      .actualizar-correo-btn {
        text-align: center;
      }

      .correo-electronico {
        margin-top: 30px;
      }

      .roles-asignados {
        margin-top: 40px;

        .list-item {
          p {
            margin: 0;
          }

          .nombre-rol {
            display: flex;
            align-items: flex-end;

            p {
              padding: 10px 0;
              flex-grow: 1;
            }
          }

          .rol-por-defecto {
            font-size: 12px;
          }
        }
      }
    }
  }
}
