* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  .inner-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;

    .foto-perfil-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;

      h2 {
        min-width: 280px;
      }

      .responsive-img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
      }
    }

    .informacion-usuario {
      display: flex;
      flex-direction: column;

      form {
        display: flex;
        flex-direction: column;
        min-width: 280px;
      }

      .correo-electronico {
        margin-top: 30px;
      }

      .roles-asignados {
        min-width: 280px;
        margin-top: 40px;

        .list-item {
          p {
            margin: 0;
          }

          .nombre-rol {
            display: flex;
            align-items: flex-end;

            p {
              padding: 10px 0;
              flex-grow: 1;
            }
          }

          .rol-por-defecto {
            font-size: 12px;
          }
        }
      }
    }
  }
}
