<ng-container *ngIf="usuario$ | async as usuario">
  <mat-toolbar color="primary">

    <div class="container">

      <div class="left">
        <button
          *ngIf="mediaQueryList.matches"
          mat-icon-button
          (click)="this.toggleSidevar()">
          <mat-icon *ngIf="!opened">menu</mat-icon>
          <mat-icon *ngIf="opened">menu_open</mat-icon>
        </button>
        <a class="nombre-empresa" routerLink="/home">
          LA ESTRELLA DEL SUR
        </a>
      </div>

      <div class="right" [matMenuTriggerFor]="menu">
        <img
          class="foto-perfil-toolbar"
          [src]="usuario.fotoPerfil | images: 'usuario'"
          alt="imagen de perfil">
      </div>

    </div>

  </mat-toolbar>

  <mat-menu #menu="matMenu">

    <div class="menu" (click)="$event.stopPropagation()">

      <img
        class="foto-perfil-menu"
        [src]="usuario.fotoPerfil | images: 'usuario'"
        alt="imagen de perfil">

      <div class="informacion-usuario">

        <p class="nombre">
          {{ usuario.nombres + ' ' + usuario.apellidos }}
        </p>

        <p class="correo">
          {{ usuario.correoElectronico }}
        </p>

        <a class="ver-perfil" routerLink="/perfil" (click)="cerrarMenu()">
          Ver perfil
        </a>

      </div>

    </div>

    <button mat-menu-item [matMenuTriggerFor]="rolesMenu">
      Roles asignados
    </button>

    <button
      mat-menu-item
      (click)="cerrarSesion()"
      class="cerrar-sesion"
      type="button">
      Cerrar sesión
    </button>

  </mat-menu>

  <mat-menu #rolesMenu="matMenu">
    <ng-container *ngIf="rolesUsuario$ | async as rolesUsuario; else sinRoles">
      <button
        mat-menu-item
        *ngFor="let rolUsuario of rolesUsuario"
        [ngClass]="rolUsuario.rolPorDefecto ? 'rol-por-defecto' : ''"
        (click)="cambiarRolPorDefecto(rolUsuario.rol.id)"
        type="button">
        {{ rolUsuario.rol.nombre }}
      </button>
    </ng-container>

    <ng-template #sinRoles>
      <button mat-menu-item>
        No tiene asignado ningún rol
      </button>
    </ng-template>
  </mat-menu>
</ng-container>
