.content {
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
  }

  .clientes {
    padding: 0;

    .cliente {
      border-bottom: solid 0.5px;
      margin-bottom: 16px;
      padding: 5px;

      &:hover {
        cursor: pointer;
        background: #F7F7E8;
        border-radius: 5px;
      }

      .nombre {
        font-weight: bold;
      }
    }
  }
}

.dialog-actions {
  padding-bottom: 24px;

  .cancelar {
    margin-right: 8px;
  }

  .registrar-cliente {
    margin: 8px 0 0 0;
  }
}
