.content {
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
  }

  .clientes {
    padding: 0;

    .cliente {
      border-bottom: solid 0.5px;
      margin-bottom: 16px;

      .nombre {
        font-weight: bold;
      }
    }
  }

  .list-item {
    &:hover {
      cursor: pointer;
    }
  }
}

.dialog-actions {
  padding-bottom: 24px;

  .cancelar {
    margin-right: 8px;
  }

  .registrar-cliente {
    margin: 8px 0 0 0;
  }
}
