.container {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;

  .actions {
    margin-bottom: 17.5px;
    text-align: right;
  }

  .filtrar-button {
    box-sizing: border-box;
    margin-bottom: 17.5px;
  }

  .filtros {
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e0e0e0;

    .title {
      font-weight: bold;
      font-size: 16px;
    }

    .lista-filtros {
      list-style-type: none;
    }
  }

  .table {
    .estado-pedido {
      padding: 5px;
      border-radius: 5px;

      &.pendiente {
        background: var(--pendiente);
      }

      &.listo {
        background: var(--listo);
      }

      &.entregado {
        background: var(--entregado);
      }

      &.completado {
        background: var(--completado);
      }

      &.cancelado {
        background: var(--cancelado);
      }
    }
  }
}
