.container {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;

  @media only screen and (min-width: 700px) {
    align-items: center;
  }

  .buscador {
    .mat-form-field {
      width: 100%;

      @media only screen and (min-width: 700px) {
        width: 660px;
      }
    }
  }

  .table-container {
    width: calc(100vw - 40px);
    box-shadow:
      0 5px 5px -3px rgba(0,0,0,.2),
      0 8px 10px 1px rgba(0,0,0,.14),
      0 3px 14px 2px rgba(0,0,0,.12);

    @media only screen and (min-width: 700px) {
      width: 660px;
    }

    .table-overflow {
      width: calc(100vw - 40px);
      overflow: auto;

      @media only screen and (min-width: 700px) {
        width: 660px;
      }

      table {
        width: 100%;

        th, td {
          padding: 0 20px;
        }

        .estado-pedido {
          padding: 5px;
          border-radius: 5px;

          &.pendiente {
            background: var(--pendiente);
          }

          &.listo {
            background: var(--listo);
          }

          &.entregado {
            background: var(--entregado);
          }

          &.completado {
            background: var(--completado);
          }

          &.cancelado {
            background: var(--cancelado);
          }
        }
      }
    }
  }
}
