<div class="container">

  <div class="actions">
    <button
      class="filtrar"
      mat-raised-button
      color="primary"
      (click)="showFiltros = !showFiltros">
      Filtrar
    </button>

    <a routerLink="nuevo-pedido" mat-raised-button color="primary">
      Nuevo pedido
    </a>
  </div>

  <div class="filtros" [hidden]="!showFiltros">
    <p class="title">Filtrar por estado</p>
    <mat-radio-group [(ngModel)]="estado" (change)="filtrarPedidos()">
      <ul class="lista-filtros">
        <li *ngFor="let filtro of filtroEstados">
          <mat-radio-button [value]="filtro">
            {{ filtro | titlecase }}
          </mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="">
            Ninguno
          </mat-radio-button>
        </li>
      </ul>
    </mat-radio-group>
  </div>

  <app-table
    class="table"
    [columns]="tableColumns"
    searchPlaceholder="Nombre del cliente"
    [rowsCB]="pedidosCB">
  </app-table>

  <ng-template #nombreColumn let-pedido="element">
    {{ pedido.cliente.nombre + ' ' + pedido.cliente.apellido }}
  </ng-template>

  <ng-template #fechaEntregaColumn let-pedido="element">
    {{ pedido.fechaEntrega | date: 'dd/MM/yyyy - HH:mm' }}
  </ng-template>

  <ng-template #estadoColumn let-pedido="element">
    <span class="estado-pedido" [ngClass]="pedido.estado">
      {{ pedido.estado }}
    </span>
  </ng-template>

  <ng-template #detallesColumn let-pedido="element">
    <a [routerLink]="[pedido.id]" mat-mini-fab color="accent">
      <mat-icon>edit</mat-icon>
    </a>
  </ng-template>

</div>
