<div class="container">

  <app-calendar
    class="calendar"
    [eventsCB]="pedidosCB">
  </app-calendar>

  <h1>
    Lista de pedidos
  </h1>

  <app-table
    [columns]="tableColumns"
    searchPlaceholder="Nombre del cliente"
    [rowsCB]="pedidosTableCB">
  </app-table>

  <ng-template #clienteColumn let-pedido="element">
    {{ pedido.cliente.nombre + ' ' + pedido.cliente.apellido }}
  </ng-template>

  <ng-template #fechaEntregaColumn let-pedido="element">
    {{ pedido.fechaEntrega | date: 'fullDate' }}
  </ng-template>

  <ng-template #verPedidoColumn let-pedido="element">
    <a
      mat-raised-button
      color="primary"
      [routerLink]="['/pedidos/lista-pedidos', pedido.id]">
      Ver pedido
    </a>
  </ng-template>

</div>
