<div class="container">

  <form [formGroup]="pedidoForm"
    (ngSubmit)="idPedido ? actualizarPedido() : registrarPedido()">

    <!--cliente-->
    <div class="cliente" formGroupName="cliente">

      <h2 class="titulo">Cliente</h2>

      <div class="seleccionar-cliente">
        <button
          mat-stroked-button
          [color]="cliente.pristine && cliente.untouched ?
                  '' : cliente.valid ? 'primary' : 'warn'"
          (click)="abrirSeleccionarCliente()"
          type="button">
          <span *ngIf="cliente.invalid; else seleccionarCliente">
            Seleccionar cliente
          </span>
          <ng-template #seleccionarCliente>
            <span>Cambiar cliente</span>
          </ng-template>
        </button>
        <p class="error" *ngIf="cliente.invalid && cliente.touched">
          Debe seleccionar un cliente
        </p>
      </div>

      <mat-form-field class="nombre">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          formControlName="nombre"
          readonly
          type="text">
      </mat-form-field>

      <mat-form-field class="apellido">
        <mat-label>Apellido</mat-label>
        <input
          matInput
          formControlName="apellido"
          readonly
          type="text">
      </mat-form-field>

      <mat-form-field class="nit-ci">
        <mat-label>NIT/CI</mat-label>
        <input
          matInput
          formControlName="nitCI"
          readonly
          type="text">
      </mat-form-field>

    </div> <!--fin-cliente-->

    <mat-checkbox class="con-servicio-entrega"
                  formControlName="conServicioEntrega">
      ¿Con entrega a domicilio?
    </mat-checkbox>

    <div *ngIf="conServicioEntrega.value && apiLoaded" class="google-maps">
      <google-map [width]="'auto'"
                  [height]="'400px'"
                  [options]="options"
                  [center]="center"
                  (mapClick)="addMarker($event)">
        <map-marker
          *ngIf="coordenadasDireccionEntrega.value
                 && coordenadasDireccionEntrega.value.lat
                 && coordenadasDireccionEntrega.value.lng"
          [position]="coordenadasDireccionEntrega.value">
        </map-marker>
      </google-map>
    </div>

    <div class="direccion-fecha">

      <mat-form-field *ngIf="conServicioEntrega.value"
                      class="direccion-entrega">
        <mat-label>Dirección de entrega</mat-label>
        <textarea
          rows="1"
          matInput
          formControlName="direccionEntrega"
          type="text">
        </textarea>
      </mat-form-field>

      <mat-form-field class="fecha-entrega">
        <mat-label>Fecha de entrega</mat-label>
        <input matInput formControlName="fechaEntrega" type="datetime-local">
        <mat-error *ngIf="fechaEntrega.errors">
          <span *ngIf="fechaEntrega.errors.required">Fecha requerida</span>
          <span *ngIf="fechaEntrega.errors.invalidMinDate">
            La fecha no puede ser menor a la actual
          </span>
        </mat-error>
      </mat-form-field>

    </div>

    <!--detalle-->
    <div class="detalle" formArrayName="detallesPedidos">

      <h2 class="titulo">Detalle</h2>

      <div class="agregar-producto">
        <button mat-stroked-button
          (click)="abrirAgregarProducto()"
          [color]="(detallesPedidos.pristine && detallesPedidos.untouched) ? '' : detallesPedidos.errors ? 'warn' : 'primary'"
          type="button">
          Agregar producto
        </button>
        <ng-container *ngIf="detallesPedidos.errors as errors">
          <p class="error" *ngIf="errors.invalidSize && cliente.touched">
            Debe agregar un producto
          </p>
          <div class="error" *ngIf="errors.productosDuplicados">
            <ul>
              <li *ngFor="let value of errors.values">
                {{ value.producto.nombre }}
              </li>
            </ul>
          </div>
        </ng-container>
      </div>

      <!--productos-->
      <div *ngFor="let detallePedido of detallesPedidos.controls; let i = index"
            class="productos">

        <div [formGroupName]="i" class="producto">

          <div class="indice">
            Nº{{ i + 1 }}
          </div>

          <button (click)="eliminarProducto(i)"
                  mat-icon-button
                  class="eliminar-producto"
                  color="warn">
            <mat-icon>clear</mat-icon>
          </button>

          <ng-container formGroupName="producto">
            <mat-form-field class="nombre">
              <mat-label>Nombre</mat-label>
              <input matInput
                     formControlName="nombre"
                     readonly
                     type="text">
            </mat-form-field>
          </ng-container>

          <mat-form-field class="precio-unitario">
            <mat-label>Precio unitario (Bs)</mat-label>
            <input matInput
                   formControlName="precioUnitario"
                   readonly
                   type="number">
            <span matSuffix>Bs.</span>
          </mat-form-field>

          <mat-form-field class="cantidad">
            <mat-label>Cantidad</mat-label>
            <input matInput
                   formControlName="cantidad"
                   type="number">
            <mat-error *ngIf="obtenerDetallePedido(i)
                             .get('cantidad').errors as errors">
              <ng-container *ngIf="errors.required">
                El campo es requerido
              </ng-container>
              <ng-container *ngIf="errors.min">
                Debe ser mayor a 0
              </ng-container>
              <ng-container *ngIf="errors.noInteger">
                Solo n√∫meros enteros
              </ng-container>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="subtotal">
            <mat-label>Subtotal (Bs)</mat-label>
            <input matInput
                   readonly
                   formControlName="subtotal"
                   type="number">
            <span matSuffix>Bs.</span>
          </mat-form-field>

        </div>

      </div> <!--fin productos-->

    </div> <!--fin - detalle-->

    <div class="total-estado">

      <mat-form-field class="total">
        <mat-label>Total (Bs)</mat-label>
        <input matInput
               readonly
               formControlName="total"
               type="number">
        <span matSuffix>Bs.</span>
      </mat-form-field>

      <div class="estado">
        <mat-form-field>
          <mat-label>Estado</mat-label>
          <mat-select formControlName="estado">
            <mat-option *ngFor="let estadoPedido of estadosPedido"
                        [value]="estadoPedido">
              {{ estadoPedido | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-icon *ngIf="estado.value" class="icon" [ngClass]="estado.value">
          fiber_manual_record
        </mat-icon>
      </div>

    </div> <!-- fin total-estado -->

    <div class="factura" formGroupName="factura">

      <h2>Factura</h2>

      <mat-form-field>
        <mat-label>Número de factura</mat-label>
        <input matInput type="text" value="1" formControlName="numeroFactura">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha de emisión</mat-label>
        <!-- <input type="text" formControlName> -->
      </mat-form-field>

    </div>

    <div class="buttons">

      <button
        type="button"
        mat-stroked-button
        (click)="crearFactura(idPedido)"
        class="generar-factura"
        *ngIf="idPedido">
        Generar factura
      </button>

      <button
        mat-stroked-button
        [color]="pedidoForm.untouched ||
                pedidoForm.valid ? 'primary' : 'warn'"
        class="submit"
        type="submit">
        {{ idPedido ? 'Actualizar pedido' : 'Registrar pedido' }}
      </button>

    </div>

  </form>

</div>
