.container {
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 10px 0;
      padding: 5px;

      &:hover {
        cursor: pointer;
        background: #F7F7E8;
        border-radius: 5px;
      }
    }
  }
}

.button {
  margin-bottom: 13px;
}
