<div class="container">

  <form
    [formGroup]="rolForm"
    (ngSubmit)="idRol ? actualizarRol() : crearRol()">

    <h1>{{ idRol ? 'Rol' : 'Nuevo rol' }}</h1>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
      <mat-error *ngIf="nombre.invalid">El nombre es requerido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        formControlName="descripcion"
      >
      </textarea>
    </mat-form-field>

    <div class="menus" formArrayName="rolesMenus">

      <h2>Menús asignados</h2>

      <div class="agregar-menu">
        <button mat-stroked-button
          (click)="seleccionarMenu()"
          [color]="rolesMenus.invalid ? 'warn' : 'primary'"
          type="button">
          Seleccionar menú
        </button>
        <div class="error menus-duplicados"
          *ngIf="rolesMenus.errors?.idsDuplicados">
          <p>
            Menús duplicados
          </p>
          <ul>
            <li *ngFor="let value of rolesMenus.errors.values">
              {{ value.nombre }}
            </li>
          </ul>
        </div>
      </div>

      <ng-container *ngFor="let rolMenu of rolesMenus.controls; let i = index">
        <div class="menu" [formGroupName]="i">

          <div class="nombre" formGroupName="menu">

            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" readonly type="text">
            </mat-form-field>

            <button
              (click)="eliminarMenu(i)"
              mat-icon-button
              type="button"
              color="warn">
              <mat-icon>delete</mat-icon>
            </button>

          </div>

        </div>
      </ng-container>

    </div>

    <div class="buttons">
      <a class="button" mat-stroked-button type="button" routerLink="../">
        Volver
      </a>

      <button
        class="button"
        mat-stroked-button
        [color]="rolForm.valid ? 'primary' : 'warn'"
        type="submit">
        {{ idRol ? 'Guardar cambios' : 'Registrar rol' }}
      </button>
    </div>

  </form>

</div>
