.container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 300px;

    .menus {
      display: flex;
      flex-direction: column;
      margin-top: 16px;

      .agregar-menu {
        text-align: center;
        margin-bottom: 16px;

        .error {
          color: var(--warn-color);
        }

        .menus-duplicados {
          text-align: left;
        }
      }

      .menu {
        .nombre {
          display: flex;
        }

        .mat-form-field {
          width: 100%;
        }
      }
    }
    .buttons {
      text-align: left;

      .button {
        margin-right: 8px;
      }
    }
  }
}
