@use 'src/styles' as styles;

.container {
  @include styles.default-container;
  max-width: 350px;

  form {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    @include styles.shadow-border;

    .menus {
      display: flex;
      flex-direction: column;
      margin-top: 16px;

      .agregar-menu {
        text-align: center;
        margin-bottom: 16px;

        .error {
          color: var(--warn-color);
        }

        .menus-duplicados {
          text-align: left;
        }
      }

      .menu {
        .nombre {
          display: flex;
        }

        .mat-form-field {
          width: 100%;
        }
      }
    }
    .buttons {
      text-align: left;

      .button {
        margin-right: 8px;
      }
    }
  }
}
