.container {
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 300px;

    .mat-form-field {
      width: 100%;
      flex-grow: 1;
    }

    .buttons {
      text-align: left;

      .button {
        margin-right: 10px;
      }
    }
  }
}
