.container {
  box-sizing: border-box;
  padding: 40px 0;
  width: calc(100vw - 40px);
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "titulo" "buscador" "productos";

  @media only screen and (min-width: 400px) {
    width: calc(100vw - 80px);
  }

  @media only screen and (min-width: 1000px) {
    width: 100%;
    padding: 40px 20px;
  }

  .titulo {
    grid-area: titulo;
  }

  .buscador {
    min-width: 250px;
    margin-bottom: 40px;
    grid-area: buscador;
    justify-self: center;

    mat-form-field {
      width: 100%;
    }
  }

  .grid {
    grid-area: productos;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;

    .producto {
      border: 1px solid;
      border-radius: 4px;
      padding: 10px;
      background: white;
      display: grid;
      grid-template-rows: auto 180px 100px 40px 40px;
      grid-template-areas: 'nombre' 'imagen' 'descripcion' 'precio' 'buttons';

      .nombre {
        grid-area: nombre;
        font-size: 16px;
        font-weight: 500;
      }

      .imagen {
        grid-area: imagen;
        place-self: center;
        max-width: 220px;
        border-radius: 4px;
        object-fit: cover;
      }

      .descripcion {
        grid-area: descripcion;
        text-align: justify;
      }

      .precio {
        grid-area: precio;
        place-self: start;
        background-color: #ffd600;
        border-radius: 4px;
        padding: 2px;
        margin: 0;

        span {
          font-weight: 500;
          margin-right: 4px;
        }
      }

      .buttons {
        grid-area: buttons;
        place-self: center;
      }
    }
  }
}
