<div class="container">

  <h2 class="titulo">Productos disponibles</h2>

  <form class="buscador" [formGroup]="buscadorForm">

    <mat-form-field class="mat-input-white" appearance="outline">

      <mat-label>Buscador</mat-label>

      <input matInput type="text" formControlName="termino">

      <button
        mat-icon-button
        matSuffix
        *ngIf="termino.value"
        (click)="limpiarBusqueda()">
        <mat-icon>clear</mat-icon>
      </button>

    </mat-form-field>

  </form>

  <div class="grid" *ngIf="productos$ | async as productos">

    <div class="producto" *ngFor="let producto of productos">

      <p class="nombre">{{ producto.nombre }}</p>

      <img
        class="imagen"
        [src]="producto.foto | images: 'producto'"
      >

      <p class="precio">
        <span>Precio:</span>
        {{ producto.precio | currency: 'BOB' }}
      </p>

      <button
        class="buttons"
        mat-button
        (click)="verDetalles(producto)">
        Ver más
      </button>

    </div>

  </div>

  <mat-paginator
    class="paginator"
    #paginator
    hidePageSize
    showFirstLastButtons
    [length]="totalProductos"
    [pageSize]="12"
    (page)="updateTable($event)">
  </mat-paginator>

</div>
