@use 'src/styles/styles' as styles;

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;

  .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    padding: 40px;
    @include styles.shadow-border;

    .mensaje-error {
      color: var(--warn-color);
    }

    .icon-success, .icon-error {
      font-size: 100px;
      width: 100px;
      height: 100px;
      margin-bottom: 16px;
    }

    .icon-success {
      color: var(--primary-color);
    }

    .icon-error {
      color: var(--warn-color);
    }

    .logo {
      width: 200px;
      padding-bottom: 20px;
    }

    h1 {
      text-align: center;
    }
  }
}
