<div class="container">

  <div class="title-container">

    <div class="date-changer button-group item-1">

      <button
        class="button"
        matRipple
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Anterior
      </button>

      <button
        class="button"
        matRipple
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Hoy
      </button>

      <button
        class="button"
        matRipple
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Siguiente
      </button>

    </div>

    <h3 class="title item-2">
      {{ viewDate | calendarDate: (view + 'ViewTitle') | titlecase }}
    </h3>

    <div class="button-group item-3">

      <button
        class="button"
        matRipple
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Mes
      </button>

      <button
        class="button"
        matRipple
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
        *ngIf="!mediaQueryList.matches"
      >
        Semana
      </button>

      <button
        class="button"
        matRipple
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Día
      </button>

    </div>

  </div>

  <div class="calendar-container" [ngSwitch]="view">

    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [headerTemplate]="customHeaderTemplate"
      [cellTemplate]="customCellTemplate"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>

    <ng-container *ngIf="!mediaQueryList.matches">
      <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-week-view>
    </ng-container>

    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>

  </div>

</div>


<ng-template #customHeaderTemplate let-days="days">

  <div class="background-grip">

    <div class="custom-header">

      <div *ngFor="let day of days" class="day-item">
        {{
          mediaQueryList.matches ?
          (day.date
            | calendarDate: 'weekViewColumnHeader'
            | titlecase
            | slice: 0 : 1
          )
          : (day.date | calendarDate: 'weekViewColumnHeader' | titlecase)
        }}
      </div>

    </div>

  </div>

</ng-template>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div
    class="custom-cell"
    [ngClass]="[
      day.inMonth ? 'in-mounth' : 'out-mounth',
      day.isToday ? 'is-today' : ''
    ]"
  >

    <span class="day-number">
      {{ day.date | calendarDate:'monthViewDayNumber' }}
    </span>

    <span
      class="badge"
      *ngIf="day.badgeTotal"
    >
      {{ day.badgeTotal }}
    </span>

  </div>
  <!-- <small style="margin: 5px;"> -->
    <!-- There are {{ day.events.length }} events on this day -->
  <!-- </small> -->
</ng-template>
