<app-header *ngIf="showHeader"></app-header>

<mat-sidenav-container
  [ngClass]="!showHeader ? 'hidden-header' : ''"
  class="sidenav-container">

  <mat-sidenav
    #sidenav
    mode="over"
    [opened]="false">
    <!-- [opened]="!mediaQueryList.matches"> -->

    <app-sidebar *ngIf="showHeader"></app-sidebar>

  </mat-sidenav>

  <mat-sidenav-content>

    <div class="sidenav-content">

      <app-breadcrumbs *ngIf="showBreadcrumbs"></app-breadcrumbs>

      <div class="sidenav-inner-content">

        <div
          *ngIf="showSidebar && mediaQueryList.matches"
          class="menu-container">
          <div class="menu">
            <app-sidebar></app-sidebar>
          </div>
        </div>

        <div class="component">
          <router-outlet></router-outlet>
        </div>

      </div>

      <app-footer *ngIf="showFooter"></app-footer>

    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
