mat-sidenav-container {
  --header-space: 64px;
  position: absolute;
  top: var(--header-space);
  bottom: 0;
  left: 0;
  right: 0;

  mat-sidenav {
    background: #FAFAFA;
  }

  mat-sidenav-content {

    display: flex;
    flex-direction: column;
    min-height: 100%;

    .sidenav-inner-content {
      display: flex;
      align-items: flex-start;
      flex: 1 1 auto;

      .menu-container {
        position: sticky;
        top: 0px;

        .menu {
          height: 100vh;
          overflow: auto;
          border-right: 1px solid #dcdcdc;

          &::-webkit-scrollbar {
            width: 4px;
          }

          &::-webkit-scrollbar-thumb {
            background: rgba(0,0,0,.26);
          }
        }
      }

      .component {
        width: calc(100%);
        padding-left: 0px;
        padding-right: 0px;
        min-height: 100vh;
        background: var(--bg-color);
      }
    }
  }
}

.hidden-header {
  top: 0;
}
