@use 'src/styles' as styles;

.container {
  @include styles.default-container;
  max-width: 300px;

  form {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    @include styles.shadow-border;

    .buttons {
      .button {
        margin-right: 8px;
      }
    }
  }
}
