<div class="container">

  <form
    [formGroup]="menuForm"
    (ngSubmit)="menu ? actualizarMenu() : crearMenu()">

    <h1>{{ menu ? 'Menú' : 'Nuevo menú' }}</h1>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
      <mat-error *ngIf="nombre.invalid">El nombre es requerido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Path</mat-label>
      <input matInput formControlName="path">
      <mat-error *ngIf="nombre.invalid">El path es requerido</mat-error>
    </mat-form-field>

    <div class="buttons">
      <a class="button" mat-stroked-button type="button" routerLink="../">
        Volver
      </a>

      <button
        class="button"
        mat-stroked-button
        [color]="menuForm.valid ? 'primary' : 'warn'"
        type="submit">
        {{ menu ? 'Guardar cambios' : 'Crear Menu' }}
      </button>
    </div>

  </form>

</div>
