.container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    padding: 20px;

    .buttons {
      .button {
        margin-right: 8px;
      }
    }
  }
}
