 @use 'src/styles/styles' as styles;

.container {
  background-color: var(--bg-color);
  margin: 20px;
  box-sizing: border-box;
  height: calc(100vh - var(--footer-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login {
    background-color: #f9faf9;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 40px;
    max-width: 350px;
    @include styles.shadow-border;

    .encabezado {
      text-align: center;

      .logo {
        width: 200px;
      }
    }

    form {
      .error {
        color: var(--warn-color);
        border: solid 2px  var(--warn-color);
        border-radius: 5px;
        background-color: rgba(244, 67, 54, 0.2);
        padding: 0 10px;
        margin-bottom: 18px;

        p {
          margin-bottom: 2px;
        }
      }

      mat-form-field {
        width: 100%;
      }

      .recordarme {
        margin-bottom: 1.34375em;
        display: flex;
        justify-content: space-between;
      }

      .ingresar {
        button {
          width: 100%;
        }
      }

      .recuperar-contrasena {
        text-align: center;
        margin-top: 15px;
      }
    }
  }

  .cargando-app {
    h1 {
      text-align: center;
      color: white;
    }
  }
}
