.container {
  background-color: #10ae2e;
  padding: 20px;
  box-sizing: border-box;
  min-height: calc(100vh - var(--footer-height));
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login {
    background-color: #f9faf9;
    box-sizing: border-box;
    padding: 20px;
    max-width: 350px;
    border-radius: 5px;

    .encabezado {
      text-align: center;

      .logo {
        width: 200px;
      }
    }

    form {
      .error {
        color: var(--warn-color);
        border: solid 2px  var(--warn-color);
        border-radius: 5px;
        background-color: rgba(244, 67, 54, 0.2);
        padding-left: 10px;
        margin-bottom: 18px;
      }
      mat-form-field {
        width: 100%;
      }

      .recordarme-registrarse {
        height: 55px;
        display: flex;
        justify-content: space-between;
      }

      .ingresar {
        button {
          width: 100%;
        }
      }

      .recuperar-contrasena {
        text-align: center;
        margin-top: 15px;
      }
    }
  }

  .cargando-app {
    h1 {
      text-align: center;
      color: white;
    }
  }
}
