.my-container {
  max-width: 400px;
}

.my-form {
  display: flex;
  flex-direction: column;
  row-gap: 17.5px;
}

.seleccionar-sucursal {
  align-self: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &--error {
    color: var(--warn-color);
  }
}

.actions {
  display: flex;
  flex-direction: column;
  row-gap: 17.5px;
  column-gap: 10px;
}

@media only screen and (min-width: 1024px) {
  .actions {
    flex-direction: row;
    justify-content: flex-end;
  }
}
