.container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .inner-container {
    background: white;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .asignar-rol-btn {
      align-self: center;
    }

    .eliminar-rol {
      margin-left: 20px;
    }
  }
}
