@use 'src/styles/styles' as styles;

.container {
  @include styles.default-container;
  max-width: 300px;

  .inner-container {
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    @include styles.shadow-border;

    .asignar-rol-btn {
      align-self: center;
    }

    .eliminar-rol {
      margin-left: 20px;
    }
  }
}
