.container {
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;

  .inner-container {
    background: white;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .asignar-rol-btn {
      align-self: center;
    }

    .eliminar-rol {
      margin-left: 20px;
    }
  }
}
