<mat-nav-list>

  <ng-container *ngFor="let menu of menus; let i = index">

    <ng-container *ngIf="menu.submenus.length > 0; else segundo">
      <a
        mat-list-item
        [ngClass]="menu.activated ? 'activated' : ''"
        (click)="toggleMenu(i)">

        <span matLine>{{ menu.nombre }}</span>

        <mat-icon *ngIf="menu.submenus.length > 0"
          [@arrow]="menu.collapsed? 'right' : 'down'">
          keyboard_arrow_right
        </mat-icon>

      </a>
    </ng-container>

    <ng-template #segundo>
      <a
        mat-list-item
        (click)="toggleMenu(i)"
        [ngClass]="menu.activated ? 'activated' : ''"
        [routerLink]="menu.path">

        <span matLine>{{ menu.nombre }}</span>

      </a>
    </ng-template>

    <div
      class="child"
      #child
      *ngIf="!menu.collapsed"
      >
      <!-- [style.height.px]="!menu.collapsed ? child.scrollHeight : 0"> -->

      <a
        mat-list-item
        class="animate__animated animate__fadeIn"
        [ngClass]="submenu.activated ? 'activated' : ''"
        *ngFor="let submenu of menu.submenus"
        [routerLink]="submenu.path">
        <span matLine>{{ submenu.nombre }}</span>
      </a>

    </div>

  </ng-container>

</mat-nav-list>
