.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 40px;

  .content {
    padding: 20px;
    border-radius: 5px;
    background: white;

    .foto-producto {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;

      .imagen {
        width: 180px;
        align-self: center;
        margin-bottom: 20px;
      }

      .upload-button {
        align-self: center;
      }
    }

    form {
      max-width: 300px;

      mat-form-field {
        width: 100%;
      }

      .buttons {
        margin-top: 20px;

        .button {
          margin: 4px 4px 0 0;
        }
      }
    }
  }
}
