<div
  class="container"
  *ngIf="producto$ | async as producto; else nuevoProducto"
>

  <h2 class="titulo">{{ producto.nombre }}</h2>

  <div class="foto-producto">

    <h3>Foto de perfil</h3>

    <img
      class="imagen"
      [src]="producto.foto | images: 'producto'"
    >

    <app-upload
      class="upload-button"
      [inputName]="'Actualizar foto'"
      [url]="urlActualizarFoto(producto.id)"
      buttonColor="primary"
      title="Actualizar foto de producto"
      (uploadedEvent)="obtenerNuevoProducto($event)"
      keyName="foto-producto"
    >
    </app-upload>

  </div>

  <form [formGroup]="productoForm" (ngSubmit)="actualizarProducto(producto.id)">

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="nombre">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <textarea
        matInput
        type="text"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        formControlName="descripcion"
      >
      </textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Precio</mat-label>
      <input matInput type="number" formControlName="precio">
    </mat-form-field>

    <div class="buttons">

      <button mat-raised-button color="primary" type="submit">
        Guardar cambios
      </button>

      <a mat-button routerLink="/productos">Volver</a>
    </div>
  </form>

  <div class="eliminar-producto">
    <button
      mat-raised-button
      color="warn"
      (click)="borrarProducto(producto.id)"
    >
      Eliminar producto
    </button>
  </div>

</div>

<ng-template #nuevoProducto>
  <div class="container">

    <h2 class="titulo">Nuevo producto</h2>

    <form [formGroup]="productoForm" (ngSubmit)="crearProducto()">

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="nombre">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea
          matInput
          type="text"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          formControlName="descripcion"
        >
        </textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Precio</mat-label>
        <input matInput type="number" formControlName="precio">
      </mat-form-field>

      <div class="buttons">

        <button mat-raised-button color="primary" type="submit">
          Registrar producto
        </button>

        <a mat-button routerLink="/productos">Volver</a>
      </div>
    </form>

  </div>
</ng-template>
