<div class="container">
  <div class="content">
    <h2 class="titulo">
      {{ producto ? producto.nombre : "Nuevo produto" }}
    </h2>

    <div class="foto-producto" *ngIf="producto">
      <img class="imagen" [src]="producto.foto | images: 'producto'" />

      <app-upload
        class="upload-button"
        [inputName]="'Actualizar foto'"
        [url]="urlActualizarFoto(producto.id)"
        buttonColor="primary"
        title="Actualizar foto de producto"
        (uploadedEvent)="fetchProducto()"
        keyName="foto-producto"
      ></app-upload>
    </div>

    <form
      class="form"
      [formGroup]="productoForm"
      (ngSubmit)="producto ? actualizarProducto(producto.id) : crearProducto()"
    >
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="nombre" />
        <mat-error *ngIf="nombre.errors && nombre.errors.required">
          El nombre es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea
          matInput
          type="text"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          formControlName="descripcion"
        ></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Precio</mat-label>
        <input matInput type="number" formControlName="precio" />
        <mat-error *ngIf="precio.errors && precio.errors.required">
          El precio es requerido
        </mat-error>
        <mat-error *ngIf="precio.errors && precio.errors.min">
          El no puede ser menor a 0.1
        </mat-error>
      </mat-form-field>

      <mat-checkbox class="my-section" formControlName="estado">
        Activo
      </mat-checkbox>

      <button
        type="button"
        class="my-section agregar-categoria"
        mat-stroked-button
        *ngIf="producto"
        (click)="abrirSeleccionarCategoriaProduct()"
      >
        Agregar categoria
      </button>

      <ul
        class="categorias"
        *ngIf="producto && producto.categoriasProductosProductos.length > 0"
      >
        <li
          class="categorias__item"
          *ngFor="
            let categoriaProductoProducto of producto.categoriasProductosProductos;
            let i = index
          "
        >
          <span>
            {{ categoriaProductoProducto.categoriaProducto.nombre }}
          </span>
          <button
            type="button"
            mat-icon-button
            color="warn"
            (click)="
              borrarCategoria(categoriaProductoProducto.categoriaProducto.id)
            "
          >
            <mat-icon>clear</mat-icon>
          </button>
        </li>
      </ul>

      <div class="buttons">
        <a mat-stroked-button routerLink="../">Volver</a>

        <a mat-stroked-button routerLink="../nuevo-producto">
          Nuevo producto
        </a>

        <button mat-stroked-button color="primary" type="submit">
          {{ producto ? 'Actualizar producto' : 'Registrar producto' }}
        </button>
      </div>
    </form>
  </div>
</div>
