@use 'src/styles/styles' as styles;

.container {
  @include styles.default-container;
  max-width: 400px;

  .content {
    padding: 20px;
    border-radius: 5px;
    background: white;
    @include styles.shadow-border;

    .foto-producto {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;

      .imagen {
        width: 180px;
        align-self: center;
        margin-bottom: 20px;
      }

      .upload-button {
        align-self: center;
      }
    }

    .form {
      .mat-form-field {
        width: 100%;
      }

      .buttons {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media only screen and (min-width: 700px) {
          flex-direction: row;
          justify-content: flex-end;
        }
      }
    }
  }
}

.agregar-categoria {
  margin: {
    left: auto;
    right: auto;
  }
}

.categorias {
  list-style-type: none;
  padding: 0;
}

.categorias__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  &:hover {
    background-color: rgba(63, 181, 64, 0.15);
    border-radius: 5px;
    cursor: pointer;
  }
}
