<div mat-dialog-content class="container">

  <h2>Seleccionar menú</h2>

  <form [formGroup]="buscadorForm">
    <mat-form-field>
      <mat-label>Buscador</mat-label>
      <input matInput formControlName="termino" placeholder="Nombre menú">
    </mat-form-field>
  </form>

  <ul>
    <li
      matRipple
      (click)="seleccionarMenu(menu)"
      *ngFor="let menu of menus$ | async; let i = index">
      {{ menu.nombre }}
    </li>
  </ul>

</div>
<div mat-dialog-actions>
  <button class="button" mat-stroked-button (click)="closeDialog()">
    Cancelar
  </button>
</div>
