@use 'src/styles/styles' as styles;

.container {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;

  .inner-container {
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    width: 100%;
    max-width: 350px;
    @include styles.shadow-border;

    .logo {
      display: block;
      margin: 0 auto;
      width: 200px;
    }

    .title {
      text-align: center;

    }

    form {
      display: flex;
      flex-direction: column;

      .mat-form-field {
        width: 100%;
      }

      .actions {
        display: flex;
        justify-content: flex-end;

        .iniciar-sesion {
          margin-right: 10px;
        }
      }
    }
  }
}
