<div class="container">

  <div class="inner-container">

    <img src="assets/images/logo.svg" alt="logo" class="logo">
    <h1 class="title">Nuevo Usuario</h1>

    <form [formGroup]="nuevoUsuarioForm" (ngSubmit)="crearUsuario()">

      <mat-form-field appearance="outline">

        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="nombre">
        <mat-hint>Campo requerido</mat-hint>

        <mat-error *ngIf="nombre.errors?.required">
          Campo requerido
        </mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline">

        <mat-label>Apellido</mat-label>
        <input matInput type="text" formControlName="apellido">
        <mat-hint>Campo requerido</mat-hint>

        <mat-error *ngIf="apellido.errors?.required">
          Campo requerido
        </mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline">

        <mat-label>Correo Electrónico</mat-label>
        <input matInput type="email" formControlName="correoElectronico">
        <mat-hint>Campo Requerido</mat-hint>

        <mat-error *ngIf="correoElectronico.errors?.required">
          Campo requerido
        </mat-error>

        <mat-error *ngIf="correoElectronico.errors?.email">
          Correo electrónico inválido
        </mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline">

        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" #passwordRef>
        <button mat-button matSuffix  mat-icon-button type="button"
          *ngIf="password.value"
          tabindex="-1"
          (click)="passwordRef.type === 'password'?
            passwordRef.type = 'text' : passwordRef.type = 'password'">
          <mat-icon *ngIf="passwordRef.type === 'password'">visibility_off</mat-icon>
          <mat-icon *ngIf="passwordRef.type === 'text'">visibility</mat-icon>
        </button>
        <mat-hint>Campo Requerido</mat-hint>

        <mat-error *ngIf="password.errors?.required">
          Campo requerido
        </mat-error>

        <mat-error *ngIf="password.errors?.minlength">
          Al menos 8 caracteres
        </mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline">

        <mat-label>Confirmar Contraseña</mat-label>
        <input matInput type="password" formControlName="confirmarPassword" #confirmarPasswordRef>
        <button mat-button matSuffix  mat-icon-button type="button"
          *ngIf="confirmarPassword.value"
          tabindex="-1"
          (click)="confirmarPasswordRef.type === 'password'?
            confirmarPasswordRef.type = 'text' : confirmarPasswordRef.type = 'password'">
          <mat-icon *ngIf="confirmarPasswordRef.type === 'password'">visibility_off</mat-icon>
          <mat-icon *ngIf="confirmarPasswordRef.type === 'text'">visibility</mat-icon>
        </button>
        <mat-hint>Campo requerido</mat-hint>

        <mat-error *ngIf="confirmarPassword.errors?.required">
          Campo requerido
        </mat-error>

        <mat-error *ngIf="confirmarPassword.errors?.passwordMatch">
          La contraseña no coincide
        </mat-error>

        <mat-error *ngIf="confirmarPassword.errors?.minlength">
          Al menos 8 caracteres
        </mat-error>

      </mat-form-field>

      <div class="actions">
        <div class="iniciar-sesion">
          <a mat-button routerLink="/login">Iniciar sesión</a>
        </div>

        <div class="registrarse">
          <button mat-raised-button type="submit" color="primary">Registrarse</button>
        </div>
      </div>

    </form>

  </div>

</div>
